html, body {
    display: block;
    margin: 0;
}

.container {
    width: 960px;
    display: block;
    margin:  0 auto;
    border: 1px solid black;
    font-family: BlexFont, sans-serif;
}

.site-header {
    padding: 25px;
    border-bottom: 1px solid black;
}

.site-title,
.site-subtitle {
    margin: 5px 0;
}

.posts-section {
    padding: 25px;
}

.post-content {
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    text-align: justify;
}

.post-footer {
    text-align: right;
}

.site-footer {
    border-top: 1px solid black;
    text-align: center;
}

.site-footer .copyrights {
    padding: 20px 0;
    margin: 0;
}

.site-nav {
    margin-bottom: 25px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: red;
}

.nav-links li {
    float: left;
    width: 25%;
    text-align: center;
}

.nav-links li a {
    display: block;
    padding: 16px 0;
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.nav-links li a:hover {
    background: black;
    color: white;
}